html
    background-color: #000;
body 
    margin: 0;
    font-size: 24px;
    text-transform: uppercase;
#app
    margin: 0;
    font-family: 'VT323', VCR OSD Mono,monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #fff;
    margin-top: 60px;
.section-container
    min-height: 300px;
    padding: 20px;
.section-header
    font-size: 2em;
    color: #ff6212;
    margin-bottom: 64px;
    text-shadow: 5px 5px #522e00;
.img-border
    border: 5px solid #fff;
    box-shadow: 10px 10px 0 rgba(0,0,0,.75);
    width: fit-content;
    height: fit-content;

.primary-color 
    color: #ff6212;
